<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LibraDB"
			 connectionString="Data Source=LAPTOP-BR1KPLII\SQLEXPRESS;
                           Initial Catalog=LibraDB;
                           Integrated Security=True;
                           TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

<!--
<configuration>
	<connectionStrings>
		<add name="LibraryDB"
			 connectionString="Server=tcp:mcesilibrary.database.windows.net,1433;Initial Catalog=Library;Persist Security Info=False;User ID=MCESI;Password=&quot;`qazwsxedc123&quot;;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>-->

